<a href="https://colab.research.google.com/github/srinivas225/Exploratory-Data-Analysis--H1B-visa-dataset-/blob/master/code_with_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import libraries
import numpy as np
import pandas as pd
import os
os.getcwd()                 # get working dir
#os.chdir("C:\\Users\\Admin\\Desktop\\data science classes")       # Setting directory

'/content'

In [18]:
# Reading a data file
data = pd.read_csv("/content/H1B.csv")
data

                CASE_STATUS  ... FULL_TIME_POSITION
0       CERTIFIED-WITHDRAWN  ...                  N
1       CERTIFIED-WITHDRAWN  ...                  Y
2       CERTIFIED-WITHDRAWN  ...                  Y
3       CERTIFIED-WITHDRAWN  ...                  Y
4       CERTIFIED-WITHDRAWN  ...                  Y
...                     ...  ...                ...
485335            CERTIFIED  ...                  Y
485336            WITHDRAWN  ...                  N
485337            WITHDRAWN  ...                  Y
485338            WITHDRAWN  ...                  Y
485339            CERTIFIED  ...                  Y

[485340 rows x 5 columns]

In [0]:
#1)	CASE_STATUS: This field denotes the status of the application after LCA (Labor Condition Application) processing.
#a.	CERTIFIED: Eligible for H1B Visa

a=data.CASE_STATUS.value_counts()
c=a[0]
b=sum(a)
x=(c/b)*100
print('% of cases are CERTIFIED = ',x)
print('cased were DENIED= ',a[3])

% of cases are CERTIFIED =  88.66133272728212
cased were DENIED=  2393

In [0]:
#a.	Top 10 Employer filing for H1B visa, what can you infer from it?
top10=data['EMPLOYER_NAME'].value_counts()[0:10]
print('Top 10 Employer filing for H1B visa \n',top10)
#b.	Top 5 Employer whose visa application are denied maximum number of times.
j=data[data['CASE_STATUS'] == 'DENIED']
s=j[['CASE_STATUS', 'EMPLOYER_NAME']]
g=s['EMPLOYER_NAME'].value_counts()[0:5]
print('Top 5 Employer whose visa application are denied maximum number of times\n',g)

Top 10 Employer filing for H1B visa
 INFOSYS LIMITED                                    14682
IBM INDIA PRIVATE LIMITED                           6007
ACCENTURE LLP                                       3908
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION     3771
ERNST & YOUNG U.S. LLP                              3267
DELOITTE CONSULTING LLP                             2992
TECH MAHINDRA (AMERICAS),INC.                       2652
TATA CONSULTANCY SERVICES LIMITED                   2418
CAPGEMINI AMERICA INC                               2195
WIPRO LIMITED                                       1721
Name: EMPLOYER_NAME, dtype: int64
Top 5 Employer whose visa application are denied maximum number of times
 ACCENZ LLC                                      47
DELOITTE CONSULTING LLP                         42
ERNST & YOUNG U.S. LLP                          33
PRICEWATERHOUSECOOPERS ADVISORY SERVICES LLC    17
IBM INDIA PRIVATE LIMITED                       16
Name: EMPLOYER_NAME, dtype: int64

In [27]:
#4)	Maximum number of visa application are certified for which WORKSITE
y=data.WORKSITE.value_counts()
z=y.head(1)
print('Maximum number of visa application are certified for which WORKSITE\n',z)

Maximum number of visa application are certified for which WORKSITE
 NEW YORK, NEW YORK    29891
Name: WORKSITE, dtype: int64

In [66]:
#5)	Approximately what % of certified visa application are for part time position, considering top employer and for worksite which we identified in Q4
g=data[data.WORKSITE=='NEW YORK, NEW YORK']
a=g[g.FULL_TIME_POSITION=='N']
c=g.WORKSITE.value_counts().sum()
a=a.FULL_TIME_POSITION.value_counts().sum()
print(c)
print(a)
u=(a/c)*100
print('Approximately what % of certified visa application are for part time position\n',u)

29891
13469
Approximately what % of certified visa application are for part time position
 45.06038606938543